/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #799A67;
    --color4: rgb(233, 229, 228);
    --color2: #fff;
    --color3: #2b2b2b;
    --color5: #9bb18e;
    --fuente1: "Inknut Antiqua", serif;
    --fuente2: "Italianno", cursive;
    --fuente3: "Itim", cursive;
}

table.calendar td {
    text-align: left;
    /* Alinea el texto (números) a la izquierda */
    vertical-align: top;
}

body {
    font-family: var(--fuente1);
    background-color: var(--color2);
}

.calendar-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.reserva-calend {
    padding: 2px;
    margin: 5px 0;
    border-radius: 4px;
    color: white;
}

.reserva-curso {
    background-color: var(--color1);
    /* Verde para reservas en curso */
}

.reserva-cancelada {
    background-color: rgb(212, 71, 71);
    /* Rojo para reservas canceladas */
}

.reserva-pendiente {
    background-color: rgb(105, 105, 105);
    /* Gris para reservas pendientes */
}

div#TotalClientes{
    font-family: "Itim", cursive;
    font-size: 1vw;
    color: #535353;
}

.reserva-finalizada {
    background-color: rgb(245, 245, 111);
    /* Amarillo para reservas finalizadas */
    color: black;
    /* Cambia el color del texto para mejor visibilidad en amarillo */
}

.reserva-finalizada .btn-cancelar,
.reserva-finalizada .btn-modificar,
.reserva-finalizada .btn-finalizar,
.reserva-finalizada .btn-confirmar {
    display: none;
}

.reserva-cancelada .btn-cancelar,
.reserva-cancelada .btn-modificar,
.reserva-cancelada .btn-finalizar,
.reserva-cancelada .btn-confirmar {
    display: none;
}

.reserva-curso .btn-cancelar,
.reserva-curso .btn-modificar,
.reserva-curso .btn-confirmar {
    display: none;
}

.reserva-pendiente .btn-finalizar {
    display: none;
}

div.reserva-calend button {
    margin: 0.3vw;
    font-family: var(--fuente3);
    border-radius: 1.2vw;
    padding: 0.4vw;
    background-color: var(--color4);
    border: none;
    font-size: 1vw;
}

header {
    background-color: var(--color1);
    display: flex;
    padding: 2vw;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: var(--fuente2);
    font-size: 10vw;
    font-weight: lighter;
}

header img {
    width: 13vw;
    height: 5vw;
}

header button {
    width: 6vw;
    height: 6vw;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

header button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calendar-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.calendar-controls select#month-select,
.calendar-controls select#year-select {
    padding: 10px;
    margin: 0 10px;
    font-size: 1rem;
    border: solid rgb(48, 46, 46) 2px;
}

table.calendar {
    width: 100%;
    border-collapse: collapse;
}

table.calendar th,
table.calendar td {
    width: calc(100% / 7);
    /* Asegura que cada celda ocupe el 1/7 del ancho */
    padding: 10px;
    /* Ajusta el padding */
    text-align: center;
    border: 2px solid #e0e0e0;
}

table.calendar td {
    background-color: #fff;
    cursor: pointer;
}

table.calendar td:hover {
    background-color: #e0e0e0;
}

div.reserva-calend {
    font-family: var(--fuente3);
    font-size: 1vw;
    height: 2.7vw;
    overflow: hidden;
    margin: 1vw;
    transition: all 1s ease-in-out;
    position: relative;
    padding: 5px;
    line-height: 1.6vw;
}

/* Para las cajas que necesitan desplazamiento */
div.reserva-calend:hover {
    z-index: 10;
    position: absolute;
    width: 15%;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in-out;
    overflow: auto;
    /* Cambia a auto para permitir el desplazamiento */
}

/* Ocultar la barra de desplazamiento horizontal */
div.reserva-calend::-webkit-scrollbar {
    display: none;
    /* Para ocultar la barra de desplazamiento en Chrome, Safari y Opera */
}

/* Personalizar la barra de desplazamiento vertical */
div.reserva-calend::-webkit-scrollbar {
    width: 5px;
    /* Ajusta el ancho de la barra de desplazamiento vertical */
}

div.reserva-calend::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    /* Color de la barra de desplazamiento */
    border-radius: 10px;
    /* Redondear los bordes */
}

/* Si deseas que la barra de desplazamiento sea más delgada en otros navegadores, puedes usar esto */
@supports not (-webkit-appearance: none) {
    div.reserva-calend {
        scrollbar-width: thin;
        /* Para Firefox */
        scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
        /* Color de la barra de desplazamiento y fondo */
    }
}

.reserva-pendiente,
.reserva-cancelada,
.reserva-finalizada,
.reserva-curso {
    transition: height 1s ease-in-out;
}

.reserva-cancelada:hover,
.reserva-finalizada:hover {
    height: 12vw;
    transition: height 1s ease-in-out;
}

.reserva-curso:hover {
    height: 15vw;
    transition: height 1s ease-in-out;
}

.reserva-pendiente:hover {
    height: 22vw;
    transition: height 1s ease-in-out;
}

div.reserva-calend span {
    display: block;
}

.reserva-cancelada>span.FinalH {
    display: none;
}

#confirmar-cancelar,
#confirmar-modificar,
#confirmar-modificacion {
    padding: 1.5vw;
    color: var(--color2);
    background-color: rgb(207, 72, 72);
    border-radius: 2vw;
    margin: 2vw;
}


#cancelar-popup,
#cancelar-modificar {
    padding: 2vw;
    color: var(--color2);
    background-color: var(--color3);
    border-radius: 2vw;
    margin: 2vw;
}

div.popup-content {
    position: absolute;
    background-color: var(--color5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centrar el popup */
    height: auto;
    /* Cambiar a auto para adaptarse al contenido */
    width: 70vw;
    font-family: var(--fuente3);
    border-radius: 0.5rem;
    text-align: center;
    /* Ajustar el radio de esquina */
    border: 2px solid #e0e0e0;
    font-size: 1rem;
    /* Ajustar tamaño de fuente */
    padding: 1.4rem 1.4rem;
    /* Añadir un padding interno */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra para profundidad */
    z-index: 1000;
    /* Asegurarse de que el popup esté por encima de otros elementos */
    animation: fadeIn 0.3s ease;
    /* Animación de aparición */
    color: var(--color3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
        /* Ajuste inicial para el efecto de entrada */
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 9vw;
    }

    header img {
        width: 20vw;
        height: 8vw;
    }

    header button {
        width: 15vw;
        height: 15vw;
    }

    .calendar-controls select {
        font-size: 0.8rem;
    }

    .calendar-container {
        width: 98%;
    }

    table.calendar th,
    table.calendar td {
        padding: 1vw;
        /* Reduce el padding para hacer las celdas más pequeñas */
        font-size: 0.5rem;
        /* Reduce el tamaño de la fuente */
    }

    table.calendar th {
        background-color: var(--color1);
        /* Mejora la visibilidad de los encabezados */
        color: white;
    }

    table.calendar td {
        height: 12vw;
        /* Ajusta la altura de las celdas */
    }

    .calendar-controls select {
        font-size: 1.2rem;
    }

    .reserva-cancelada .Salida,
    .reserva-curso span.Salida {
        display: none;
    }

    .reserva-cancelada:hover,
    .reserva-finalizada:hover {
        height: 13vw;
        transition: height 1s ease-in-out;
    }

    .reserva-curso:hover {
        height: 15vw;
        transition: height 1s ease-in-out;
    }


    .reserva-pendiente:hover {
        height: 25vw;
        transition: height 1s ease-in-out;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header h1 {
        font-size: 7vw;
    }

    header img {
        width: 15vw;
        height: 6vw;
    }

    header button {
        width: 8vw;
        height: 8vw;
    }

    .calendar-controls select {
        font-size: 1.5rem;
    }

    table.calendar td,
    table.calendar th {
        padding: 0px;
        /* Ajusta el padding */
        height: 10vw;
        border: 3px solid #e0e0e0;
        font-size: 0.6rem;
    }

    div.popup-content {
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) {
    header h1 {
        font-size: 5vw;
    }

    header img {
        width: 10vw;
        height: 4vw;
    }

    header button {
        width: 5vw;
        height: 5vw;
    }

    .calendar-controls select {
        font-size: 1.6rem;
    }

    table.calendar td,
    table.calendar th {
        padding: 0.5vw;
        border: 3px solid #e0e0e0;
        font-size: 1.2rem;
    }

    table.calendar td {
        height: 12vw;
    }

    div.reserva-calend {
        height: 1.8vw;
    }

    #confirmar-cancelar,
    #confirmar-modificar {
        padding: 1.5vw;
        color: var(--color2);
        background-color: rgb(207, 72, 72);
        border-radius: 2vw;
        margin: 2vw;
        font-size: 1.5vw;
    }

    #cancelar-popup,
    #cancelar-modificar {
        padding: 1.5vw;
        color: var(--color2);
        background-color: var(--color3);
        border-radius: 2vw;
        font-size: 1.5vw;
        margin: 2vw;
    }

    div.popup-content {
        top: 125%;
        left: 50%;
        width: 60vw;
        font-size: 1.5rem;
        padding: 2rem;
    }
}